// GRID
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 2%;

$class-grid-width: 40rem;

// Colors
$background-dark: #14192F;
$background-light: #272C3F;

$color-primary: #2ACAB0;
$color-primary-dark: #1B726C;

$text-green: #6FDCC1;
$text-gray: #7c7c7c;

$color-grey-light-1: #f7f7f7;

// Spacing
$top-bar-item-margin: 2.5%;

$header-height: 8rem;
