.classes__container {
  position: absolute;
  width: 100%;
  height: calc(100vh - #{$header-height});
}

.classlist {
  height: 100%;
  background-color: white;
  z-index: -1;
  margin: 0 auto;
  margin-left: 6.3rem;
}