.class_row {
  margin: 0 auto;
  height: 18vw;
  min-width: 95rem;
  min-height: 19rem;

  &:nth-child(1) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix

  [class^="col-"] {
    float: left;
    height: 100%;

    &:nth-child(2) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc(100% / 3);
  }

  .col-10-of-33 {
    width: calc((100% * 3) / 11);
  }

  .col-1-of-6 {
    width: calc((100%) / 6);
  }

  .col-3-of-6 {
    width: 39%;
    min-width: 37rem;
  }

  .col-2-of-6 {
    width: calc((100%) * 2 / 6);
  }

  .col-2-of-10 {
    width: calc((100% - (#{$gutter-horizontal} * 2)) * 2 / 10);
  }

  .col-3-of-10 {
    width: calc((100% - (#{$gutter-horizontal} * 2)) * 3 / 10);
  }

  .col-4-of-10 {
    width: calc((100% - (#{$gutter-horizontal} * 2)) * 4 / 10);
  }

  .col-4-of-9 {
    width: calc((100% - (#{$gutter-horizontal} * 2)) * 4 / 9);
  }

}
